@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Work Sans;
}

.navbar-container{
    background-color: #FFF;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 20px;
 
}
.logo-nav-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo{
    margin-right: 20px;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
   
}

.logo-nav-container p{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;       
}

.logo-container p{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px; 

}
.logo-color{
    color: #FF42A5;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container a{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    
}

.follow-container{
    background-color: rgb(212, 205, 205);
    padding: 15px 8px;
     
}

@media screen and (max-width: 600px) {
    .logo-text {
      font-size: 24px;
    }
  }
  .banner-section{
    background-color: #fffefe;
    padding: 80px 0;
    text-align: center;
  }
  
  .banner-container{
    display: flex;
    flex-direction: row-reverse;
    max-width: 1400px;
  }

  .banner-text{
    margin-bottom: 250px;
    text-align: center;
  }

  .banner-title{
    font-size: 25px;
    font-weight: 530px;
  }
  
  .funny-big-vd{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 80px;
    font-weight: 100px;
    font-family: Work Sans;
  }

  .banner-img img{
    max-width: 100%;
    margin-left: 190px;
    
  }

  .item{
  font-size: 16px;
  margin-bottom: 10px;
}


.item i {
  font-size: 20px;
  margin-right: 10px;
}


  .btn-1{
    background-color: #FF42A5;
    border: none;
    padding: 15px;
    color: #FFF;
    margin-top: 20px;
    border-radius: 18px;
    font-weight: bold;
  }
  .btn-2{
    background-color: #4EC5F7;
    border: none;
    padding: 15px;
    color: #FFF;
    border-radius: 18px;
    font-weight: bold;
  }

  
  .footer-container{
    background-color: black;
    padding: 100px;
    color: #FFF;  
  }
  .logo-container{
    display: flex;
    justify-content: center;
  }
  .logo-container p{
    color: #FFF;
    
  }
  .banner-one-container{
        margin-bottom: 420px;
        padding:  40px 60px;
        
  }
  
  .banner-one-text{
    
   text-align: center;
   margin-bottom: 50px; 
    
  }

  .funny-vd{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .banner-one-text h1{
    font-size: 40px;
  }

  .banner-one-text p{
    font-size: 18px;
    margin-top: 14px;
  }
  .four-img img{
    width: 100%;
    margin-bottom: 50px;
    
  }
  
  .four-img{
    display: flex;
    justify-content: space-around;
    gap: 30px;  
  }

  .four-img p{
    margin-bottom: 20px;

  }

  .img-three-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    

  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .image-three-container:hover .play-button {
    opacity: 1;
    cursor: pointer;
    background: linear-gradient(to right top, rgb(95, 89, 89));
  }

  .image-three-container:hover .play-button .hover-text{
    color: #F948B2;
  }
  
  .banner-two-section{
      margin-bottom: 70px;
  }

  .banner-two-container{
    display: flex;
    flex-direction: row-reverse;
    padding: 100px 0;
    position: relative;
    max-width: 50%;
    height: 200px;
    margin-top: 170px;
    margin-left: 50px;
    
  }


  .banner-two-title{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    padding: 40px;
    
  }

  .banner-two-text p {
    line-height: 22px;
    
  }

  .banner-two-text{
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        
        
  }

  .two-img{
   position: relative;
   display: flex;
   justify-content: flex-end;
  }
  
  #parent{
    position: absolute;
    bottom: 0;
    left: 0;
    
  }
  .overlay-img{
    height: 550px;
    margin: 100px 40px;
    
  }
  .small-img-container{
    position: absolute;
    left: 0;
  }
  .small-img{
    position: relative;
    z-index: 1;
  }

  .games-container{
        margin: 5px 80px;
        display: grid;
        grid-template-rows: repeat(5,50px);
        grid-gap: 60px; 
        padding-top: 150px;
  }

  .games-container img{
      width: 40px;
      height: 40px;
  }

  .games-container span{
        font-size: 20px;
        text-align: center;
        margin-right: 20px;

  }
  .games-container-1{
        justify-content: center;
        align-items: center;
        text-align: center;
  }

  .games-container-2{
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    text-align: center;
}

  .games-container-1 :hover{
    cursor: pointer;
    border: 3px solid #F948B2;
    border-radius: 90px;
    padding: 18px 0px;
  }

  .games-container-2 :hover{
    cursor: pointer;
    border: 3px solid #F948B2;
    border-radius: 90px;
    padding: 18px 0px;
    
  }

  .footer-container{
    background-color: rgb(27, 25, 59);
    padding: 180px;
    color: #FFF;  
    
  }

  .icons{
    display: flex;
    justify-content: center;
    font-size: 25px;
    
  }
  .last-text{
    display: flex;
    justify-content: center;
  }
  .fa-brands {
    margin-left: 20px;
  }

  .footer-menu-01 ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px;
    column-gap: 20px;
    
  }

  .footer-menu-02 ul{
    font-size: small;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px;
    column-gap: 20px;
    
  }
 
  
