*{
    margin: 0;
}

.navbar-container{
    background-color: #FFF;
    display: flex;
    align-items: center;
    min-height: 50px;
    padding: 20px;
 
}
.logo-container{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.logo{
    margin-right: 20px;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
   
}

.logo-container p{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    
        
}
.logo-color{
    color: #FF42A5;
}
.menu-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-container a{
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
    margin-left: 10px;
}

.follow-container{
    background-color: rgb(212, 205, 205);
    padding: 20px;
}
/*Media query for responsiveness*/
@media screen and (max-width: 600px) {
    .logo-text {
      font-size: 24px;
    }
  }
  
